
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4CAF50;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;
}

pre {
    background: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
